/* 전체 배경 및 텍스트 색상 */
.masthead {
  background-color: #F5F5F5;
  color: #333;
  padding: 100px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* 텍스트 로고 */
.masthead-logo {
  font-size: 3rem;
  font-weight: bold;
  color: #00695C; /* 짙은 청록색으로 신뢰감 표현 */
}

/* 구분선 */
.divider-custom {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.divider-custom-line {
  flex-grow: 1;
  height: 2px;
  background-color: #004D40;
}

.divider-custom-icon {
  font-size: 1.25rem;
  font-weight: bold;
  color: #004D40;
}

/* 소개 문구 */
.masthead-subtitle {
  font-size: 1.2rem;
  color: #004D40;
  margin-top: 10px;
  font-weight: 500;
}

/* 네비게이션 바 스타일 */
#mainNav {
  background-color: #2C3E50;
  color: white;
}

/* 네비게이션 링크 스타일 */
.nav-link {
  color: white !important;
  font-weight: 600;
}

.bg-vio {
  color: #fff;
  background: blueviolet;
}

.table thead {
  background-color: #0dcaf0;
  color: white;
}
.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.carousel-item {
  height: 300px;
}
.carousel-inner {
  display: flex;
  justify-content: space-between;
}
/*.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
.carousel-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}


.carousel-item img {
  object-fit: cover;
  height: 200px;  /* 이미지의 높이를 고정하여 슬라이드 간 일관성 유지 */
}


.bg-my-color1 {
  --bs-bg-opacity: 1;
  /* 청결함을 나타내는 파란색 */
  background-color: rgba(0, 169, 224, var(--bs-bg-opacity)) !important; /* #00A9E0 */
}

.bg-my-color2 {
  --bs-bg-opacity: 1;
  /* 신뢰감을 주는 짙은 파란색 */
  background-color: rgba(0, 119, 181, var(--bs-bg-opacity)) !important; /* #0077B5 */
}

.bg-my-color3 {
  --bs-bg-opacity: 1;
  /* 상쾌하고 밝은 그린 */
  background-color: rgba(76, 175, 80, var(--bs-bg-opacity)) !important; /* #4CAF50 */
}

.bg-my-color4 {
  --bs-bg-opacity: 1;
  /* 세련된 그레이 */
  background-color: rgba(176, 190, 197, var(--bs-bg-opacity)) !important; /* #B0BEC5 */
}

.bg-my-color5 {
  --bs-bg-opacity: 1;
  /* 깨끗한 화이트 */
  background-color: rgba(255, 255, 255, var(--bs-bg-opacity)) !important; /* #FFFFFF */
}
